.dropmenu {
  position: relative;
  background: #FFF;
  float: left;
  margin: 0px; 
  padding: 0px;
  border: 0;
  z-index: 2000 !important;
}
.dropmenu li a, .dropmenu li {
  float: left;
}
.dropmenu li {
  list-style: none;
  position: relative;	
  font-size: 14px;
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: normal;
}
.dropmenu li span {
  background-color: #FFF;
  display:block;
  height:5px;
  position:absolute;
  right:10px;
  top:11px;
  width:5px;
}
.dropmenu li a:hover span{
  background-color:#FFF;
}
.dropmenu li a, .dropmenu li div{
  width: 90px;
  padding: 2px 6px;
  text-align: center;
  text-decoration: none;
  background-color:#FFF;
  color: #000;
}
.dropmenu li.narrow a, .dropmenu li.narrow div{
  width: 70px !important;
}
.dropmenu li.medium a, .dropmenu li.medium div{
  width: 110px !important;
}
.dropmenu li.wide a, .dropmenu li.wide div{
  width: 150px !important;
}
.dropmenu li a:hover{
  background: #FFF;	
}

/* Submenu */
.dropmenu li ul, .dropmenu li > div {
  display: none;
  position: absolute;
  left: 0;
  top: 100%;
  padding: 0px;
  margin: 0px;
  background: #333;
  border-bottom:1px solid #796D6A;
}
.dropmenu.css-only li:hover > ul, .dropmenu.css-only li:hover > div{
  display: block;
}
.dropmenu li ul li, .dropmenu li ul li a{
  float: none;	
  text-align: left;
}
.dropmenu li ul li{
  _display: inline; /* for IE6 */	
}
.dropmenu li > div{
  width: 200px;
  border-top:1px solid #796D6A;
  border-left:1px solid #796D6A;
  padding: 15px;
}

/* Sub submenu */

.dropmenu li ul li a{
  width: 158px;
  display: block;	
  padding-left: 5px;
  border-top:1px solid #796D6A;
  border-left:1px solid #796D6A;
}
.dropmenu li ul li a:hover{
  background-color: #FFF;
  font-weight: bold;
}
.dropmenu li ul li ul, .dropmenu li ul li > div {
  top: 0px;
  left: 100%;
}
