form label {
  display: block;
  font-weight: bold;
  color: #309;
  font-variant: small-caps;
  font-size: 24pt;
}
form ul {
  list-style: none;
}
form li {
  margin-bottom: 20px; font-size: 24pt;
}
form input {
  border-image-width: 0;
}
form input[type=text] {
  width: 100%; font-size: 24pt; padding: 5px;
}
form input[type=submit] {
  width: 200px;
}
