body {
  background: #FFF;
  color: #333;
}
div#logo {
  position: absolute;
  top: 5px;
  left: 5px;
}
div#main-banner {
  width: 1000px;
  height: 500px;
  margin: 1em auto;
}
div#navbar {
  position: absolute;
  top: 15px;
  left: 50%;
  margin-left: -300px;
  width: 600px;
  height: 40px;
  color: white;
}
div#navbar li {
  font-size: 16pt;
}
div#navbar li a:hover {
  color: #999;
  text-decoration: underline;
}
div#mainsection {
  position: absolute;
  top: 45px;
  width: 100%;
}
div.textblock {
  margin: 1em 3em;
}
p {
  font-size: 24pt;  
  color: #666;
}
